    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
            <li><a href="/logout/">Logout</a></li>
            <li class="divider"></li>
        {% else %}
            <li><a href="/register/">Regeister</a></li>
            <li class="divider"></li>
            <li><a href="/login/">Login</a></li>
            <li class="divider"></li>
        {% endif %}
    </ul>
    <nav>
        <div class="container">    
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Galary</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <!-- Dropdown Trigger -->
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">User-menu<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

